
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>pastagem.org</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/pastagem.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="row border-header-1">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
          <h2>
            Pastagem.org
          </h2>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"> 
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Apresentação</a></li>
            <li><a href="#">Equipe</a></li>
            <li><a href="#">Mapa Interativo</a></li>
            <li><a href="#">Bases Documentais</a></li>
          </ul>
        </div>
      </div>
      <div class="row border-header-2 border-footer-2">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin-padding">
          <img class="img-responsive" src="img/fundo.jpg" />
          <span class="main"> 
            <div class="row main-content">
              <h3>Apresentação</h3>
              <span>
                O Brasil, detentor do maior rebanho bovino comercial do mundo (acima de 211 milhões de cabeças em 2012) e com aproximadamente 160 milhões de hectares de pastagens cultivadas, concentra na atividade pecuária parte considerável de todas as emissões de gases do efeito estufa. Igualmente importante, é a influência destas áreas de pastagens nos ciclos de água e energia e formação de chuvas. Resultados recentes para o bioma Cerrado, obtidos pelo LAPIG UFG, sugerem que os 700.000 km2 de pastagens, conforme condições de uso e produtividade, contribuem com até 30% de toda a água transferida para a atmosfera.<br>
A nível de país, os impactos ambientais associados à pecuária podem ser ainda mais significativos, haja vista que grande parte das áreas de pastagens apresenta algum nível de degradação, devido à ausência ou inadequação de práticas de manejo, sobrepastoreio e tempo de uso. Pastagens degradadas são evidenciada, entre outros, pela perda de fertilidade dos solos e diminuição de biomassa, que resultam em significativas perdas de carbono no solo, em baixa capacidade de suporte, e na compactação e erosão dos solos. As pastagens degradadas estão também mais sujeitas às queimadas, uma prática comum com vistas à limpeza da vegetação secundária e ervas daninha, a qual causa grandes impactos ambientais, principalmente através da emissão de aerossóis e gases do efeito estufa.<br>
Em geral, a utilização destas pastagens é ineficiente (lotação média ~ 1 cabeça por hectare), ainda que a densidade do rebanho tenha aumentado de forma bastante significativa (~ 45%) entre 1990 e 2011. Em fato, a intensificação da pecuária, acompanhada de maior governança e fiscalização, pode desempenhar um papel fundamental com vistas à práticas agrícolas ambientalmente mais sustentáveis, tanto por seu potencial em mitigar emissões de gases de efeito estufa quanto por favorecer reservas de terras de baixo custo para outros usos.
Contudo, um aumento das taxas de ocupação depende de práticas de manejo adequadas e da recuperação de vastas áreas de pastagens degradadas, as quais precisam ser devidamente identificadas e monitoradas. Somente a partir do entendimento sobre as condições e distribuição destas áreas, será possível um melhor direcionamento e utilizaçao de recursos públicos (à exemplo daqueles disponibilizados no âmbito do plano de Agricultura de Baixo Carbono / recuperação de pastagens), com vistas ao aumento da produtividade e valoração das pastagens brasilerias enquanto efetivas commodities ambientais.<br>
Dentre deste contexto, foi firmada parceria entre a Secretaria de Assuntos Estratégicos da Presidência da República (SAE) e a Universidade Federal de Goiás (UFG), tendo como interveniente o Laboratório de Processamento de Imagens e Geoprocessamento (LAPIG), com vistas a localizar e qualificar as áreas de pasto em todo o território nacional, buscando assim apoiar a destinação de políticas, inclusive de crédito, ao setor agropecuário. Especificamente, esta parceria compreende as seguintes metas:<br>
Levantamento, com base em mapeamentos existentes e dados censitários, das áreas de pasto no Brasil;
Espacialização, em base municipal e para todo o país, de atributos sócio-econômicos relacionados à atividade pecuária;
Análise de padrões (espaciais e temporais) biofísicos; 
Desenvolvimento e avaliação de métricas capazes de qualificar as áreas de pasto em ao menos três categorias(Pasto Degradado; Pasto em Degradação e Pasto em Bom Nível de Produção de Forragem) ;
Organização, filtragem, transformação e análise de séries temporais (dados satelitários quinzenais índices de vegetação e evapotranspiração) (2002 – 2012); 
Entrega e apresentação do trabalho intitulado "RADIOGRAFIA DAS PASTAGENS DO BRASIL".
              </span>
            </div>
          </span>
        </div>
      </div>
      <div class="row border-footer-1">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer"> 
          <p class="pull-left">
CAMPUS II Samambaia - Cx. POSTAL 131 - Goiânia - GO / CEP: 74001-970.<br>
Telefone: (62) 3521-1360 / (62) 3521-1096 <br>
Email: lapig.iesa@gmail.com<br>
Twitter: @LAPIG_UFG<br>
          </P
          <a href="http://www.lapig.iesa.ufg.br">
            <img class="pull-right img-responsive img-foot" src="img/logo-sae.png" />
          </a>
          <a href="http://www.ufg.br">
            <img class="pull-right img-responsive img-foot" src="img/logo-ufg.png" />
          </a>
          <a href="http://www.sae.gov.br">
            <img class="pull-right img-responsive img-foot" src="img/logo-lapig.png" />
          </a>
        </div>
      </div>
    </div>
  <script src="js/bootstrap.js"></script>
  </body>
</html>
