.icon-48-teams {
      background-image: url(../images/l_teams.png);
      padding-left:60px!important;
}

.icon-48-team {
      background-image: url(../images/l_teams.png);
      padding-left:60px!important;
}

